API_SQL_HOST=""
API_SQL_USER=""
API_SQL_PW=""
API_SQL_DB=""
API_SQL_PORT=""

API_PW_SALT = ""
API_TOKEN_KEY = ""
API_PEM_KEY = ""

API_PRIVATE_PEM = ""
API_PUBLIC_PEM = ""

API_AWS_BUCKET_NAME=""
API_AWS_CDN_PATH=""
API_AWS_CDN_DIS=""

API_GOOGEL_MAP_KEY=""
API_GOOGLE_MAPID = ""