:root{
    --bg-color: aliceblue; 
    --search-bar-option-hover: #f0eeee;
    --search-border: 1px solid #cfcdcd;
    --search-border-radius: 10px;
    --btn-bg-color: #9b9a9a;
    /* 當使用者移到我、追蹤者或收藏時，會hover的背景 */
    --user-info-btn-bg-color: #000;
    --user-info-btn-text-color: #fff;
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Taipei Sans TC", "Zen Maru Gothic", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

.login-ui-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    padding: 10px;
    box-sizing: border-box;
}

.login-ui{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(44, 146, 184, 0.7) 0%, rgba(44, 146, 184, 0.5) 50%, rgba(44, 146, 184, 0.3) 100%);
    border-radius: 5px;

    display: flex;
    justify-items: center;
    align-items: center;
    background-image: url("/static/img/20260304_web_login.jpg");
    background-size: cover;
}

.login-ui-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    padding: 10px;
    box-sizing: border-box;
}

.login-ui-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.login-input{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    /* grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    justify-items: center;
    align-items: center; */

    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px; */
    box-sizing: border-box;
}

.bg-color{
    width: 460px;
    height: 650px;
    background-color:var(--bg-color);
    border-radius: var(--search-border-radius);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.login-input-container{
    width: 360px;
    height: 100%; 

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 40px 1fr;
    gap: 20px;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
}

.login-first-container{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
}

.login-signin-btn{
    all: unset;
    width: 70px;
    height: 38px;
    border-radius: 5px;
    background-color: #60a5f5;

    font-size: 18px;
    font-family: "Taipei Sans TC", "Zen Maru Gothic";
    text-align: center;
    cursor: pointer;
}

.login-second-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 40px);
    justify-items: center;
    gap: 10px;

    position: relative;
}

.login-second-hidden{
    display: none;
}

.sign-second-hidden{
    display: none;
}

.sign-second-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 40px);
    justify-items: center;
    gap: 10px;

    position: relative;
}

.login-title, .signin-title{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    font-family: "Kaushan Script", "Zen Maru Gothic";
    text-align: center;
    line-height: 30px;
}

.login-email, .login-pw, 
.signin-email, .signin-pw, .signin-name, .signin-nickname{
    all: unset;
    width: 90%;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;

    padding-left: 10px;
    box-sizing: border-box;

    font-size: 16px;
    font-family: "Taipei Sans TC", "Zen Maru Gothic";


}

.login-btn, .signin-btn{
    all: unset;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    background-color: #002060;
    color: #fff;

    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.error-login-text, .error-signin-text{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: "Taipei Sans TC", "Zen Maru Gothic";
    color: rgb(179, 17, 17);

    text-align: center;
    display: none;
}

@media (1200px < width <= 1920px) {
   
}

@media (650px < width <= 1200px) {
    .login-ui{
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows:  0.5fr 0.5fr;
    }

    /* .login-input{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
    } */
}

@media (300px < width < 650px) {
    .login-ui{
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 1fr;
    }

    /* .login-input{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
    } */

    .bg-color{
        width: 95%;
    }

    .login-input-container{
        width: 320px;
    }
}

.loading-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.loading-container.active{
    display: flex;
}

.load-animation{
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    animation: circle-load 0.8s linear infinite;
}

@keyframes circle-load{
    0% {
        border-left: 5px solid #666666;
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }35% {
        border-left: 5px solid transparent;
        border-top: 5px solid #666666;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }72%{
        border-left: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 5px solid #666666;
        border-bottom: 5px solid transparent;
    }100%{
        border-left: 5px solid transparent;
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #666666;
    }
}