*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Taipei Sans TC', 'Noto Sans TC', sans-serif;
}

.view-one-post{
    height: 370px;
    border-radius: 5px;
    background-color: rgba(202, 229, 231);
    border: none;

    margin: auto;
}

.nav-post{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 20px;
    /* 固定的方法 */
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: rgba(202, 229, 231);
    border-radius: 10px;
}

.close-post-btn{
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}

.close-post-btn img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.posts-container{
    width: 100%;
    height: auto;
    padding: 2px 10px 10px 10px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 320px;
    gap: 5px;

    align-items: center;
}

.post-content-container{
    width: 100%;
    height: 320px;
    border-radius: 10px;
    background-color: #fff;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.post-content-img{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 35px;
}

.content-img-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.food-img-info{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    gap: 5px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    /* &::-webkit-scrollbar{
        display: none;
    } */

    cursor: pointer;
}

.img-info-scroll{
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align:center;
}

.imgSlides{
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateX(0px);
    transition: transform 500ms ease-in-out;
    border-radius: 10px;
}

.img-container{
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex: 0 0 100%;

    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.sildeBtn{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    top: 110px;
}

.food-info{
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 0 10px 10px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;

    transform: translateX(0px);
    transition: transform 500ms ease-in-out;
}

.food-info-container{
    width: 100%;
    height: 100%;

    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding-left: 10px;
    line-height: 25px;
}

.food-info-container div{
    color: #fff;
}

.post-evaluate-action{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;

    padding-top: 8px;
    padding-left: 20px;
}

.love-btn, .collect-btn{
    width: auto;
    height: 20px;
    display: flex;
    gap: 5px;
    overflow: hidden;

    cursor: pointer;
}

.love-btn img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.collect-btn img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.post-content-comment{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 3fr;
}

.user-info{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60px 3.5fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.user-headshot{
    width: 50px;
    height: 50px;
    overflow: hidden;

    border-radius: 10px;
    box-sizing: border-box;
}

.user-headshot img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.user-nickname{
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 70px;
    padding-left: 10px;
}

.post-comment{
    width: 100%;
    height: 100%;
    padding-right: 5px;
    box-sizing: border-box;

    font-size: 15px;
    overflow-y: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    overflow-y: auto;
}

.food-experience, .dining-area{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 5px;
}

.space{
    width: 100%;
    height: 30px;
    flex-shrink: 0;
}

@media (1200px < width <=1920px){
    .view-one-post{
        width: 1200px;
    }

    .post-content-comment{
        padding-bottom: 10px;
        box-sizing: border-box;
    }
}

@media (600px < width <= 1200px){
    .view-one-post{
        width: 100%;
    }

    .posts-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 500px);
        gap: 5px;
    }

    .post-content-container{
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 200px;
        gap: 5px;
    }

    .post-content-comment{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
}

@media (300px <= width <= 600px){
    .view-one-post{
        width: 100%;
        height: auto;
    }

    .posts-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 510px);
        gap: 5px;
    }

    .post-content-container{
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 200px;
        gap: 5px;
    }

    .post-content-comment{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
}
